h1 {
	background-color: blue;
	height: 20px;
	text-align: center;

}
body {
	background-image: url('Images/bg.jpg');
}
header {
	padding: 5px;
	background-color: #5F9EA0;
	background-image: url('Images/html5-logo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 230px;

}
.html5 {
	width:220px;
    height:100px;
	position: absolute;
	right: 0;
	margin-top:70px;
}
nav {border-top: 1px;border-bottom:1px; border-top-style: solid; border-bottom-style: solid; margin-top: 120px;}
 header li { display: inline-block; }
 header ul {
	
	text-align: center;
}
section,article, aside {
	border-radius:15px;
}
section { background-color:#A9A9A9; }
article {background-color:#C0C0C0;}

.formu { width: 150px;
height: 50px;
position: absolute;
margin-top: -20px;
right: 50px; }


.envoi {width: 173px;}
